/*Gør så man ikke kan scroll til siden*/

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

/*Mobile site*/

body {
    background-color: #F0F0EF;
}

/*FONT PÅ DET HELE*/
p,
h1,
h2,
h3,
a {
    font-family: 'Roboto', sans-serif;
}

footer h3 {
    font-weight: 300;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 300;
}

p {
    font-weight: 300;
}

/*NAVIGATION*/

header {
    background-color: #E0DBD8;
}


.header {
    background: none;
}

.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
}

.topbar img {
    margin-left: 10px;
    width: 200px;
    height: 75px;
}

#knap {
    grid-column-start: 3;
    font-size: 20px;
    text-align: center;
    font-size: 26px;
    color: #181F32;
    cursor: pointer;
}

#knap:hover {
    color: #F33222;
}

nav a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #181F32;
    font-size: 24px;
}

nav a:hover {
    color: #F33222;
}

/*Skjuler menuén indtil burgermenu er klikket på*/

.toggle {
    display: none;
}

/*NAVIGATION SLUT*/

/*main/section*/
main {
    padding: 2rem;
}

section {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

label,
input,
textarea,
button {
    display: grid;
    margin-bottom: .6rem;
    font-size: 1rem;
    align-items: center;
}


button {
    padding: .20rem 2rem;
    margin-top: .1rem;
    border: 0;
    font-weight: 600;
    font-size: 1rem;
    background: #181F32;
    color: white;
}

button:hover {
    background-color: #F33222;
}

/*main/section SLUT*/
/*FOOTER*/

#aabningstider {
    display: none;
}

footer {
    background-color: #181F32;
    display: grid;
    grid-template-columns: repeat(3 auto);
    grid-template-rows: repeat(4 10px);
    grid-gap: 10px;
}

#adresse {
    grid-column-start: 1;
    margin-left: 10px;
}

#adresse h3 {
    color: white;
    font-size: 15px;
}

.text {
    color: white;
    font-size: 10px;
}

#kontaktinfo {
    grid-column-start: 2;
}

#kontaktinfo h3 {
    color: white;
    font-size: 15px;
}

#socialemedier {
    grid-column-start: 3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2 auto);
}

#instagram {
    grid-row-start: 1;
    margin-top: 20px;
}

#facebook {
    grid-row-start: 2;
}

#socialemedier img {
    width: 30px;
    height: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*FOOTER SLUT*/

/*Desktop*/

@media (min-width: 769px) {


    /*NAVIGATION*/

    .topbar img {
        width: 250px;
        height: 100px;
    }

    #knap {
        display: none;
    }

    header {
        background: none;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    nav.toggle {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(5, 20px);
    }

    nav a {
        color: #181F32;
    }

    #galleri {
        grid-column-start: 5;
        grid-row-start: 2;
    }

    #omos {
        grid-column-start: 6;
        grid-row-start: 2;
    }

    #menukort {
        grid-column-start: 7;
        grid-row-start: 2;
    }

    #kontakt {
        grid-column-start: 8;
        grid-row-start: 2;
    }

    /*main/section*/
    h1 {
        font-size: 2.5rem;
        line-height: 1.25;
        margin-bottom: 1rem;
        text-align: left;
    }

    h2 {
        margin-bottom: .5rem;
        text-align: left;
        margin-top: 0;
    }

    p {
        text-align: left;
    }

    .form-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: start;
        padding: 1.5rem;
        border-radius: 8px;
    }

    article {
        padding-right: 2rem;
        border-right: 3px solid #181F32;
    }

    label {
        display: grid;
        justify-items: start;
        font-weight: 600;
    }

    input {
        display: block;
        font-size: 1.1rem;
        border: 0;
        width: 23.8rem;
        padding: .2rem;
    }

    textarea {
        width: 23.8rem;
        padding: .2rem;
    }

    /*main/section SLUT*/
    /*FOOTER*/

    footer {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .text {
        font-size: 15px;
    }

    #adresse h3 {
        font-size: 20px;
    }

    #kontaktinfo h3 {
        font-size: 20px;
    }

    #socialemedier {
        grid-column-start: 4;
    }

    #socialemedier img {
        width: 50px;
        height: 50px;
    }

    #instagram {
        margin-top: 50px;
    }

    #facebook {
        margin-top: 50px;
        grid-row-start: 1;
    }

    #aabningstider {
        display: block;
    }

    #aabningstider h3 {
        font-size: 20px;
        color: white;
    }

    /*FOOTER SLUT*/


}
