/*Gør så man ikke kan scroll til siden*/

html,
body {
    max-width: 100%;
    overflow-x: hidden;

}


/*Mobile site*/

body {
    background-color: #F0F0EF;
}

/*NAVIGATION*/

header {
    background-color: #E0DBD8;
}


.header {
    background: none;
}

.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
}

.topbar img {
    margin-left: 10px;
    width: 200px;
    height: 75px;
}

#knap {
    grid-column-start: 3;
    font-size: 20px;
    text-align: center;
    font-size: 26px;
    color: #181F32;
    cursor: pointer;
}

#knap:hover {
    color: #F33222;
}

nav a {

    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #181F32;

    font-size: 24px;
}


nav a:hover {
    color: #F33222;
}

/*Skjuler menuén indtil burgermenu er klikket på*/

.toggle {
    display: none;
}

/*NAVIGATION SLUT*/
/*section*/

#menukort_section .section_wrapper {
    margin: 20px;
    margin-bottom: 50px;
}

.button {
    background-image: url(menu_pdf_button.svg);

}

.button:hover {
    color: #F33222;
}

/*FOOTER*/

#aabningstider {
    display: none;
}

footer {
    background-color: #181F32;
    display: grid;
    grid-template-columns: repeat(3 auto);
    grid-template-rows: repeat(4 10px);
    grid-gap: 10px;
    /*    position: absolute;*/
    /*    bottom: 0;*/
    /*    width: 100%;*/
}

#adresse {
    grid-column-start: 1;
    margin-left: 10px;
}

#adresse h3 {
    color: #F0F0EF;
    font-size: 15px;
}

.text {
    color: #F0F0EF;
    font-size: 10px;
}

#kontaktinfo {
    grid-column-start: 2;
}

#kontaktinfo h3 {

    color: #F0F0EF;
    font-size: 15px;
}

#socialemedier {
    grid-column-start: 3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2 auto);
}

#instagram {
    grid-row-start: 1;
    margin-top: 20px;
}

#facebook {
    grid-row-start: 2;
}

#socialemedier img {
    width: 30px;
    height: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*FOOTER SLUT*/

/*Desktop*/

@media (min-width: 769px) {


    /*NAVIGATION*/

    .topbar img {
        width: 250px;
        height: 100px;
    }

    #knap {
        display: none;
    }

    header {
        background-color: #181F32;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    nav.toggle {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(5, 20px);
    }

    nav a {
        color: #F0F0EF;
    }

    #galleri {
        grid-column-start: 5;
        grid-row-start: 2;
    }

    #omos {
        grid-column-start: 6;
        grid-row-start: 2;
    }

    #menukort {
        grid-column-start: 7;
        grid-row-start: 2;
    }

    #kontakt {
        grid-column-start: 8;
        grid-row-start: 2;
    }

    .section_wrapper {
        max-width: 100%;
        margin: 80px;
    }

    #menukort_section .section_wrapper {
        display: grid;
        grid-gap: 80px;
        grid-template-columns: 1fr 1fr;
    }

    *
    /*FOOTER*/

    footer {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .text {
        font-size: 15px;
    }

    #adresse h3 {
        font-size: 20px;
    }

    #kontaktinfo h3 {
        font-size: 20px;
    }

    #socialemedier {
        grid-column-start: 4;
    }

    #socialemedier img {
        width: 50px;
        height: 50px;
    }

    #instagram {
        margin-top: 50px;
    }

    #facebook {
        margin-top: 50px;
        grid-row-start: 1;
    }

    #aabningstider {
        display: block;
    }

    #aabningstider h3 {
        font-size: 20px;
        color: #F0F0EF;
    }

    /*FOOTER SLUT*/


}
