/*Gør så man ikke kan scroll til siden*/

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

/*FONT PÅ DET HELE*/
p,
h1,
h2,
h3,
a {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 300;
}

p {
    font-weight: 300;
}

/*Mobile site*/

body {
    background-color: #F0F0EF;
}

/*NAVIGATION*/

header {
    background-color: #E0DBD8;
}


.header {
    background: none;
}

.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
}

.topbar img {
    margin-left: 10px;
    width: 200px;
    height: 75px;
}

#knap {
    grid-column-start: 3;
    font-size: 20px;
    text-align: center;
    font-size: 26px;
    color: #181F32;
    cursor: pointer;
}

#knap:hover {
    color: #F33222;
}

nav a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #181F32;
    font-size: 24px;
}

nav a:hover {
    color: #F33222;
}

/*Skjuler menuén indtil burgermenu er klikket på*/

.toggle {
    display: none;
}

/*NAVIGATION SLUT*/

/*FOOTER*/

h3 {
    font-weight: 300;
}

footer p {
    font-weight: 300;
}

#aabningstider {
    display: none;
}

footer {
    background-color: #181F32;
    display: grid;
    grid-template-columns: repeat(3 auto);
    grid-template-rows: repeat(4 10px);
    grid-gap: 10px;
}

#adresse {
    grid-column-start: 1;
    margin-left: 10px;
}

#adresse h3 {
    color: white;
    font-size: 15px;
}

.text {
    color: white;
    font-size: 10px;
}

#kontaktinfo {
    grid-column-start: 2;
}

#kontaktinfo h3 {
    color: white;
    font-size: 15px;
}

#socialemedier {
    grid-column-start: 3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2 auto);
}

#instagram {
    grid-row-start: 1;
    margin-top: 20px;
}

#facebook {
    grid-row-start: 2;
}

#socialemedier img {
    width: 30px;
    height: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*FOOTER SLUT*/

/*OM OS*/

#section_1 {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    margin-bottom: 30px;
}

#video1 {
    width: 400px;
    height: 275px;
}

/*OM OS MEDARBEJDERE*/

#team {
    text-align: center;
}

#personale1 img {
    width: 150px;
    height: 200px;
}

#personale1 {
    display: block;
    text-align: center;
}

/*Desktop*/

@media (min-width: 769px) {

    /*OM OS*/

    #section_1 {
        display: grid;
        grid-template-columns: 600px auto auto;
        text-align: left;
        grid-gap: 100px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #video {
        grid-column-start: 3;
    }


    #video1 {
        width: 500px;
        height: 280px;
    }

    /*OM OS MEDARBEJDERE*/

    #personale1 {
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin-bottom: 30px;
    }

    #personale1 img {
        width: 225px;
        height: 300px;
    }

    #clara {
        grid-column-start: 1;
    }

    #rebecca {
        grid-column-start: 2;
    }

    #caroline {
        grid-column-start: 3;
    }

    #freja {
        grid-column-start: 4;
    }


    /*NAVIGATION*/

    .topbar img {
        width: 250px;
        height: 100px;
    }

    #knap {
        display: none;
    }

    header {
        background: none;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    nav.toggle {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(5, 20px);
    }

    nav a {
        color: #181F32;
    }

    #galleri {
        grid-column-start: 5;
        grid-row-start: 2;
    }

    #omos {
        grid-column-start: 6;
        grid-row-start: 2;
    }

    #menukort {
        grid-column-start: 7;
        grid-row-start: 2;
    }

    #kontakt {
        grid-column-start: 8;
        grid-row-start: 2;
    }

    /*FOOTER*/

    footer {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .text {
        font-size: 15px;
    }

    #adresse h3 {
        font-size: 20px;
    }

    #kontaktinfo h3 {
        font-size: 20px;
    }

    #socialemedier {
        grid-column-start: 4;
    }

    #socialemedier img {
        width: 50px;
        height: 50px;
    }

    #instagram {
        margin-top: 50px;
    }

    #facebook {
        margin-top: 50px;
        grid-row-start: 1;
    }

    #aabningstider {
        display: block;
    }

    #aabningstider h3 {
        font-size: 20px;
        color: white;
    }

    /*FOOTER SLUT*/


}
