/*Gør så man ikke kan scroll til siden*/

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

/*Mobile site*/

body {
    background-color: #F0F0EF;
}

/*NAVIGATION*/

header {
    background-color: #E0DBD8;
}


.header {
    background: none;
}

.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
}

.topbar img {
    margin-left: 10px;
    width: 200px;
    height: 75px;
}

#knap {
    grid-column-start: 3;
    font-size: 20px;
    text-align: center;
    font-size: 26px;
    color: #181F32;
    cursor: pointer;
}

#knap:hover {
    color: #F33222;
}

nav a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #181F32;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

nav a:hover {
    color: #F33222;
}

a {
    font-family: font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: font-family: 'Roboto', sans-serif;
}

/*Skjuler menuén indtil burgermenu er klikket på*/

.toggle {
    display: none;
}

/*NAVIGATION SLUT*/


/*FOOTER*/

#aabningstider {
    display: none;
}

footer {
    background-color: #181F32;
    display: grid;
    grid-template-columns: repeat(3 auto);
    grid-template-rows: repeat(4 10px);
    grid-gap: 10px;
}

#adresse {
    grid-column-start: 1;
    margin-left: 10px;
}

#adresse h3 {
    color: white;
    font-size: 15px;
}

.text {
    color: white;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

#kontaktinfo {
    grid-column-start: 2;
}

#kontaktinfo h3 {
    color: white;
    font-size: 15px;
}

#socialemedier {
    grid-column-start: 3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2 auto);
}

#instagram {
    grid-row-start: 1;
    margin-top: 20px;
}

#facebook {
    grid-row-start: 2;
}

#socialemedier img {
    width: 30px;
    height: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*FOOTER SLUT*/

/*ÅBNINGSTIDER PÅ FORSIDE*/

#aabningstiderforside #overskriftaabningstider {
    text-align: center;
    color: #181F32;
}

#aabningstiderforside .text {
    text-align: center;
    color: #181F32;
}

/*ÅBNINGSTIDER PÅ FORSIDE SLUT*/

/*LINK TIL INSTAGRAM*/

#linktilinsta {
    text-align: center;
}

#linket {
    align-content: center;
    text-decoration: none;
    color: #181F32;
    font-size: 15px;
}

#række1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px;
}

#billede1 {
    width: 150px;
    height: 150px;
    grid-column-start: 1;
    grid-row-start: 1;
}

#billede2 {
    width: 150px;
    height: 150px;
    grid-column-start: 2;
    grid-row-start: 1;
}

#billede3 {
    width: 150px;
    height: 150px;
    grid-column-start: 1;
    grid-row-start: 2;
}

#billede4 {
    width: 150px;
    height: 150px;
    grid-column-start: 2;
    grid-row-start: 2;
}

#række2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px;
}

#billede5 {
    width: 150px;
    height: 150px;
    grid-column-start: 1;
    grid-row-start: 1;
}

#billede6 {
    width: 150px;
    height: 150px;
    grid-column-start: 2;
    grid-row-start: 1;
}

#billede7 {
    width: 150px;
    height: 150px;
    grid-column-start: 1;
    grid-row-start: 2;
}

#billede8 {
    width: 150px;
    height: 150px;
    grid-column-start: 2;
    grid-row-start: 2;
}

/*Desktop*/

@media (min-width: 769px) {

    /*SPLASH VIDEO*/
    #mobilbaggrund {
        display: none;
    }


    header {
        background: none;
    }

    /*NAVIGATION*/

    .topbar img {
        width: 250px;
        height: 100px;
    }

    #knap {
        display: none;
    }

    header {
        background: none;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    nav.toggle {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(5, 20px);
    }

    nav a {
        color: #181F32;
    }

    #galleri {
        grid-column-start: 5;
        grid-row-start: 2;
    }

    #omos {
        grid-column-start: 6;
        grid-row-start: 2;
    }

    #menukort {
        grid-column-start: 7;
        grid-row-start: 2;
    }

    #kontakt {
        grid-column-start: 8;
        grid-row-start: 2;
    }

    /*FOOTER*/

    footer {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .text {
        font-size: 15px;
    }

    #adresse h3 {
        font-size: 20px;
    }

    #kontaktinfo h3 {
        font-size: 20px;
    }

    #socialemedier {
        grid-column-start: 4;
    }

    #socialemedier img {
        width: 50px;
        height: 50px;
    }

    #instagram {
        margin-top: 50px;
    }

    #facebook {
        margin-top: 50px;
        grid-row-start: 1;
    }

    #aabningstider {
        display: block;
    }

    #aabningstider h3 {
        font-size: 20px;
        color: white;
    }

    /*FOOTER SLUT*/

    /*BAGGRUNDSVIDEO/BILLEDE*/

    #baggrundsvideo img {
        width: 100%;
    }

    /*BAGGRUNDSVIDEO/BILLEDE SLUT*/

    /*ÅBNINGSTIDER PÅ FORSIDE*/

    #aabningstiderforside #overskriftaabningstider {
        font-size: 30px;
    }

    #aabningstiderforside .text {
        font-size: 20px;
    }

    /*ÅBNINGSTIDER PÅ FORSIDE SLUT*/

    /*LINK TIL INSTAGRAM*/

    #række1 {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: 1fr;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 40px;
    }

    #billede1 {
        grid-column-start: 1;
        width: 200px;
        height: 200px;
    }

    #billede2 {
        grid-column-start: 2;
        width: 200px;
        height: 200px;
    }

    #billede3 {
        grid-column-start: 3;
        grid-row-start: 1;
        width: 200px;
        height: 200px;
    }

    #billede4 {
        grid-column-start: 4;
        grid-row-start: 1;
        width: 200px;
        height: 200px;
    }

    #række2 {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: 1fr;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #billede5 {
        grid-column-start: 1;
        width: 200px;
        height: 200px;
    }

    #billede6 {
        grid-column-start: 2;
        width: 200px;
        height: 200px;
    }

    #billede7 {
        grid-column-start: 3;
        grid-row-start: 1;
        width: 200px;
        height: 200px;
    }

    #billede8 {
        grid-column-start: 4;
        grid-row-start: 1;
        width: 200px;
        height: 200px;
    }

    #linket {
        font-size: 24px;
    }
}

/*SPLASH VIDEO RESPONSIVE*/

@media (min-aspect-ratio: 16/9) {

    #mobilbaggrund {
        display: none;
    }

    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {

    #mobilbaggrund {
        display: none;
    }

    #videoBG {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px) {

    /*SPLASH VIDEO MOBIL*/
    #videoBG {
        display: none;
    }
}
